[Unit]
Description=Run Bing wallpaper downloader daily
After=graphical-session.target
PartOf=graphical-session.target
ConditionEnvironment=DISPLAY

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
