[Unit]
Description=Bing Wallpaper Downloader
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bwall today
